*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.title{
    text-align: center;
}

.text-gray{
    color: #888888 !important; /*xét độ ưu tiên*/
}

.title p:first-of-type{
    color: #e62b4a;
    font-weight: 300;
    text-align: center;
}

.title h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 400;
    padding: 0.2rem 0 1.5rem 0;
}

.title p:last-of-type{
    text-align: center;
    color: #888888;
    font-weight: 700;
    font-size: 1rem;
}

header .header__content{
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    padding: 30px 0;
    border-bottom: 0.01rem solid rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    color: white;
}

header nav a:hover,
header nav ul li.active a{ /*dấu chấm có khoảng cách là thẻ con*/
    color: #e62b4a;
}

header nav ul li{
    list-style:  none;
    padding: 0 25px;
    display: inline;
}

header nav ul li a{
    text-transform: uppercase;
}

header .header__logo{
    font-weight: bold;
}

header a{
    color: white;
    cursor: pointer;
}

header .header__logo i,
header .header__logo span{
    font-size: 2.2rem;
}

/* Carousel Header */

#carousel{
    background: url(./../image-video/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
}

#carousel .carousel__content{
    text-align: center;
}

#carousel .carousel__content h3{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 360;
}

#carousel .carousel__content p{
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-weight: bold;
}

#carousel .carousel__content button{
    padding: 0.6rem 2rem;
    font-size: 1.3rem;
    color: white;
    background-color: #e62b4a;
    border: 1px solid #e62b4a;
    cursor: pointer;
    margin: 0.3rem 0 3.5rem 0;
    font-size: 1.2rem;
    transition: all 0.5s;
}

#carousel .carousel__content button:hover{
    background-color: #af2239;
}

.carousel__content .arrow__down i{
    font-size: 1.7rem;
    font-weight: 900;
    animation-name: arrow__down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow__down{
    form{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(30px);
    }
}

/* SERVICES */

/* Casousel Services */
#service{
    background-color: black;
    padding: 4rem 0;
}

#service .slider__content .item{
    background-color: white;
    color: #888888;
    width: 230px;
    height: 230px;
    margin: 10px;
    text-align: center;
    display: flex;
    font-size: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#service .slider__content .item::after{
    content: ""; /*thuộc tính cần phải cung cấp khi sử dụng ::before hoặc ::after*/
    background-color: red;
    width: 5px;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    
}

#service .slider__content .item:hover::after{
    height: 100%;
    transition: all 0.5s;
}

#service .slider__content .item i{
    font-size: 50px;
}

.slick-dots li button::before{
    font-size: 1rem;
    color: white;
    opacity: 0.25;
}

.slick-dots li.slick-active button:before{
    opacity: 0.75;
    color: #e62b4a;
}

.service__content{
    width: 75%;
    margin: 0 12.5%;
}



/* BLOG */

#blog{
    padding: 6.67rem;
}

#blog h1{
    color: black;
}

.blog__content{
    width: 75%;
    margin: 50px auto 0;
    position: relative;
    gap: 2rem; /*khoảng cách các lưới*/
    display: grid; /*hệ thống lưới*/
    grid-template-columns: repeat(4, 1fr); /*1fr tương ứng 1 cột, lặp lại 4 lần mỗi lần 1 cột*/ 
}

.blog__item img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: grayscale(50%) contrast(50%);
}

.blog__content .blog__item_1
{
    grid-column: 1 / span 2; /*vị trí số một gom 2 cột*/
    grid-row: 1 / span 2;
}

.blog__content .blog__item_10
{
    grid-column: 3 / span 2; /*vị trí số 1 gom 2 cột*/
    grid-row: 3 / span 2;
}

.blog__item{
    position: relative;
}

.blog__item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    background-color: #ff000050;
    opacity: 0;
    transition: all 0.5s;
}

.blog__item:hover .overlay {
    opacity: 1;
}

.blog__item .overlay__icon{
    position: absolute;
    top: 20px;
    right: 20px;
}

.blog__item .overlay__icon i{
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
    transform: translateY(35px);
}

.blog__item .overlay__icon i:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.blog__item .overlay__text{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    transform: translateY(35px);
}

.blog__item:hover .overlay__icon i,
.blog__item:hover .overlay__text
{
    transform: translateY(0);
    transition: all 0.5s;
}

/* Count */
#count{
    background-color: black;
    color: white;
    padding: 4rem 0;
}

#count .count__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#count .count__content p:first-of-type{
    font-size: 4rem;
    font-weight: 300;
}

#count .count__content p:last-of-type{
    font-size: 1.3rem;
    font-weight: 300;
    color: #888888;
}

/* EXPERIENCE */

#experience{
    background-image: url(./../image-video/bussiness_img_1.jpg);
    padding: 6.67rem 0;
    background-attachment: fixed;
}

#experience .title{
    text-align: center;
}

.experience__content{
    width: 75%;
    margin: 2rem auto;
}

.experience__content video{
    width: 100%;
}

/* CONTACT */
#contact{
    padding: 100px 0;
}

#contact h1{
    color: black;
}

#contact p{
    font-weight: 400;
}

.contact__content{
    width: 75%;
    margin: 2rem auto;
    display: flex;
}

.contact__map{
    width: 60%;
}

.contact__map iframe{
    width: 100%;
}

.contact__form{
    width: 40%;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.contact__form form input,
.contact__form form textarea
{
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid ;
}

.contact__form button{
    padding: 1rem 0;
    background-color: black;
    color: white;
} 

.contact__form button:hover{
    background-color: #e62b4a;
    transition: all 0.5s;
    border: 1px solid #e62b4a;
    cursor: pointer;
}


/* BACK TO TOP */
.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: rgba(0,0,0,0.25);
    height: 60px;
    width: 60px;
    border-radius: 4px;
    text-align: center;
    line-height: 60px;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    visibility: hidden; /*thuộc tính kèm theo back to top*/
}

.cd-top--is-visible { 
visibility: visible;
opacity: 1;
}
  
.cd-top--fade-out { 
opacity: .5;
}


/* FOOTER */

footer{
    background-color: black;
}

.footer__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    color: white;
}

.footer__content i{
    display: inline block;
    text-align: center;
    align-items: center;
    line-height: 54px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 0.3rem;
    transition: all 0.5s;
}

.footer__content i:hover{
    background-color: #e62b4a;
}

